html {
    overflow: hidden;
}

#form {
    display: none;
}

.text #form {
    display: flex;
    flex-direction: column;
}

#editor {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.text #editor {
    display: none;
}

.menu:not([hidden]) {
    display: flex;
    width: fit-content;
    position: absolute;
}

#menu {
    flex-direction: column;
    border: 2px solid black;
    border-radius: 2px;
    z-index: 2;
}

button {
    text-align: center;
    background-color: aquamarine;
    padding: 0 3px 0 3px;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: aqua;
}

button:active {
    background-color: #00e4e4;
}

#top-menu {
    align-items: center;
    z-index: 1;
    top: 10px;
    left: 10px;
}

#top-menu > * {
    margin-right: 5px;
}

.centerflex {
    display: flex;
    align-items: center;
}

/* for svg: */

text {
    font-size: 22.5778px;
    font-family: sans-serif;
    fill: #000000;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
}

line {
    stroke: #000000;
    stroke-width: 2px;
    stroke-linecap: round;
}

foreignObject {
    transform: translate(-49px, -15px);
    width: 100px;
    height: 30px;
}

foreignObject input {
    width: 90px;
}